.gb-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/Beautiful_Cat_Imge_Download.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/yellow_eyes_light_brown_cat_is_sitting_on_wood_fence_in_blur_tree_green_leaves_background_hd_cat-1280x720.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/Beautiful_Cat_Image_Download.jpg);
}
